In [ ]:
import os
os.chdir("C:\\Users\\lopez\\Desktop\\udea-ai-4-eng-20251-pruebas-saber-pro-colombia") # Ruta donde se encuentra la carpeta con los archivos
os.listdir()

['submission_example.csv', 'test.csv', 'train.csv']

In [36]:
import pandas as pd
df = pd.read_csv("train.csv")
df.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_TIENELAVADORA,...,ESTU_PRIVADO_LIBERTAD,ESTU_PAGOMATRICULAPROPIO,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET.1,FAMI_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,coef_1,coef_2,coef_3,coef_4
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,...,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294

# Rellenar valores null en la columna

Primero verificamos los valores null

In [37]:
print(df.isnull().sum()) # Verificacion numerica de valores null en todo el documento

df[df["FAMI_ESTRATOVIVIENDA"].isnull()] # verificacion en tabla de valores null FAMI_ESTRATOVIVIENDA

ID                                    0
PERIODO                               0
ESTU_PRGM_ACADEMICO                   0
ESTU_PRGM_DEPARTAMENTO                0
ESTU_VALORMATRICULAUNIVERSIDAD     6287
ESTU_HORASSEMANATRABAJA           30857
FAMI_ESTRATOVIVIENDA              32137
FAMI_TIENEINTERNET                26629
FAMI_EDUCACIONPADRE               23178
FAMI_TIENELAVADORA                39773
FAMI_TIENEAUTOMOVIL               43623
ESTU_PRIVADO_LIBERTAD                 0
ESTU_PAGOMATRICULAPROPIO           6498
FAMI_TIENECOMPUTADOR              38103
FAMI_TIENEINTERNET.1              26629
FAMI_EDUCACIONMADRE               23664
RENDIMIENTO_GLOBAL                    0
coef_1                                0
coef_2                                0
coef_3                                0
coef_4                                0
dtype: int64

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_TIENELAVADORA,...,ESTU_PRIVADO_LIBERTAD,ESTU_PAGOMATRICULAPROPIO,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET.1,FAMI_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,coef_1,coef_2,coef_3,coef_4
21,284373,20195,INGENIERIA MECATRONICA,VALLE,Entre 5.5 millones y menos de 7 millones,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,medio-bajo,0.029,0.037,0.048,0.026
26,925456,20195,DERECHO,BOLIVAR,Entre 2.5 millones y menos de 4 millones,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,medio-bajo,0.017,0.034,0.023,0.023
49,836859,20195,LICENCIATURA EN CIENCIAS SOCIALES,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,NaN,NaN,NaN,NaN,NaN,...,N,Si,NaN,NaN,NaN,bajo,0.010,0.015,0.030,0.012
55,663184,20195,INGENIERIA CIVIL,TOLIMA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,NaN,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Secundaria (Bachillerato) incompleta,medio-bajo,0.017,0.048,0.028,0.029
58,629999,20212,TRABAJO SOCIAL,VALLE,Entre 1 millón y menos de 2.5 millones,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,bajo,0.007,0.033,0.037,0.048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692444,763147,20183,OPTOMETRIA,BOGOTÁ,Entre 4 millones y menos de 5.5 millones,NaN,NaN,NaN,Primaria completa,NaN,...,N,No,NaN,NaN,Secundaria (Bachillerato) incompleta,bajo,0.040,0.034,0.004,0.017
692448,54207,20183,PSICOLOGIA,TOLIMA,Entre 1 millón y menos de 2.5 millones,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,bajo,0.025,0.030,0.018,0.024
692454,821212,20195,ADMINISTRACION PUBLICA TERRITORIAL,BOGOTÁ,NaN,NaN,NaN,NaN,NaN,NaN,...,N,NaN,NaN,NaN,NaN,bajo,0.029,0.004,0.031,0.043
692464,592258,20183,FILOLOGIA E IDIOMAS,BOGOTÁ,Entre 500 mil y menos de 1 millón,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,alto,0.025,0.007,0.020,0.017
692487,350508,20195,CONTADURÍA PÚBLICA,BOGOTÁ,NaN,NaN,NaN,NaN,NaN,NaN,...,N,NaN,NaN,NaN,NaN,bajo,0.007,0.038,0.012,0.034

Se observa que tenemos 32137 valores null para la columna FAMI_ESTRATOVIVIENDA

Rellenamos los valores null de acuerdo a la moda, ya que es un valor categorico

In [38]:
df['FAMI_ESTRATOVIVIENDA'] = df['FAMI_ESTRATOVIVIENDA'].fillna(df['FAMI_ESTRATOVIVIENDA'].mode()[0]) # Rellenamos los valores null con la moda

df['FAMI_ESTRATOVIVIENDA'].head(50)

0     Estrato 3
1     Estrato 3
2     Estrato 3
3     Estrato 4
4     Estrato 3
5     Estrato 5
6     Estrato 2
7     Estrato 2
8     Estrato 1
9     Estrato 5
10    Estrato 1
11    Estrato 2
12    Estrato 3
13    Estrato 1
14    Estrato 3
15    Estrato 3
16    Estrato 1
17    Estrato 2
18    Estrato 1
19    Estrato 2
20    Estrato 2
21    Estrato 2
22    Estrato 1
23    Estrato 2
24    Estrato 2
25    Estrato 3
26    Estrato 2
27    Estrato 3
28    Estrato 3
29    Estrato 2
30    Estrato 2
31    Estrato 3
32    Estrato 2
33    Estrato 3
34    Estrato 4
35    Estrato 3
36    Estrato 4
37    Estrato 2
38    Estrato 2
39    Estrato 2
40    Estrato 4
41    Estrato 3
42    Estrato 2
43    Estrato 1
44    Estrato 2
45    Estrato 3
46    Estrato 2
47    Estrato 3
48    Estrato 3
49    Estrato 2
Name: FAMI_ESTRATOVIVIENDA, dtype: object

Finalmente podemos observar que en los valores 21 y 49 que anteriormente eran valores null, ahora tienen valores de acuerdo a la moda

In [39]:
print(df.isnull().sum())

ID                                    0
PERIODO                               0
ESTU_PRGM_ACADEMICO                   0
ESTU_PRGM_DEPARTAMENTO                0
ESTU_VALORMATRICULAUNIVERSIDAD     6287
ESTU_HORASSEMANATRABAJA           30857
FAMI_ESTRATOVIVIENDA                  0
FAMI_TIENEINTERNET                26629
FAMI_EDUCACIONPADRE               23178
FAMI_TIENELAVADORA                39773
FAMI_TIENEAUTOMOVIL               43623
ESTU_PRIVADO_LIBERTAD                 0
ESTU_PAGOMATRICULAPROPIO           6498
FAMI_TIENECOMPUTADOR              38103
FAMI_TIENEINTERNET.1              26629
FAMI_EDUCACIONMADRE               23664
RENDIMIENTO_GLOBAL                    0
coef_1                                0
coef_2                                0
coef_3                                0
coef_4                                0
dtype: int64

# Codificación etiqueta FAMI_ESTRATOVIVIENDA (One-Hot Encoding)

In [35]:
df["FAMI_ESTRATOVIVIENDA"].unique() #Valores en columna

array(['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1',
       'Estrato 6', 'Sin Estrato'], dtype=object)

In [ ]:
df["FAMI_ESTRATOVIVIENDA_encoded"] = pd.Categorical(
    df["FAMI_ESTRATOVIVIENDA"],
    categories=["Sin Estrato", "Estrato 1", "Estrato 2", "Estrato 3", "Estrato 4", "Estrato 5", "Estrato 6"],
    ordered=True,
).codes

df[["FAMI_ESTRATOVIVIENDA", "FAMI_ESTRATOVIVIENDA_encoded"]].drop_duplicates().sort_values("FAMI_ESTRATOVIVIENDA_encoded")

    FAMI_ESTRATOVIVIENDA  FAMI_ESTRATOVIVIENDA_encoded
21                   NaN                            -1
176          Sin Estrato                             0
8              Estrato 1                             1
6              Estrato 2                             2
0              Estrato 3                             3
3              Estrato 4                             4
5              Estrato 5                             5
154            Estrato 6                             6